body, html{
    width: 100%;
    height: 100vh;
    color: #3a4660;
}
nav{
    z-index: 10;
    background-color: #ffffff;
}
#login-button{
    float: right;
}
.btn-danger{
    background-color: #c9af98 !important;
    border-color: #c9af98 !important;
    color: #FFF;
    /*height: 105%;*/
    /*width: 120%;*/
}
.btn-danger:hover{
    background-color: #DAA520 !important;
}