.col{
    border-radius: 5px;
    opacity: .8;
    height: 150px;
    margin: 0 .5em ;
}
.wrapper{
    margin: 0 2.5em;

}
#pic1{
    background: url("../images/slider_4.jpg") no-repeat center;
}
#pic2{
    background: url("../images/image.jpg") no-repeat center;
    margin-top: 5em;
}
#pic3{
    background: url("../images/vegan-matcha-mousse-cake-2.jpg") no-repeat center;
    margin-top: 5em;
}
#pic4{
    background: url("../images/images.jpg") no-repeat center;
}
#pic5{
    background: url("../images/image2.jpg") no-repeat center;
    margin-top: 5em;
}
#pic6{
    background: url("../images/hero_2704_Garlic_Herb_Steak_with_Summer_Ratatouille___HERO.jpg") no-repeat center;
    margin-top: 5em;
}
#menu-container{
    height: 800px;
    border: 2px solid #3a4660;
}