.navbar{
    font-size: 115%;
    background-color: #3a4660;
}
.navbar-nav{
    margin: 0 2em;
}
.nav-item{
    font-size: 150% !important;
    margin: 0 1.2em;
}
.nav-link{
    color: #c9af98 !important;
    
}
.nav-link:hover{
    color: #DAA520 !important;
}
/*.nav-item a{*/
    /*color: #FFFFFF !important;*/
/*}*/
/*.nav-item a:link {*/
    /*color: #FFFFFF;*/
/*}*/
/*.nav-item a:visited {*/
    /*color: #FFFFFF;*/
/*}*/
/*.nav-item a:hover {*/
    /*color: firebrick;*/
/*}*/
.form-inline{
    margin-right: 1.5em;
}
.form-inline a{
    font-size: 120%;
}
.form-inline span{
    float: top;
    margin-right: 1.5em;
}

#logo{
    height: 5em;
    width: 8em;
}
/*.navbar-brand{*/
    /*height: 2em;*/
    /*background: url("../images/logo.png");*/
/*}*/
