.container{
    margin-top: 1em;
}
#contactForm{
    padding-top: .8em;
}
.btn-primary{
    background-color: #003C66;
    color: #ffffff;
}

.form-check{
    margin-top: .5em;
}

#login-name{
    color: #ffffff;
    font-size: 110%;
    font-weight: bold;
    margin-right: 10px;
}
#home-logo{
    background: url("../../UI/images/red-blue.png") no-repeat center;
    height: 30em;
    background-size: 50%;
    margin-top: 1.25em;
}