.navbar{
    background-color: #B12129;
}

.navbar-brand{
    font-size: 195%;
}
.navbar-nav{
    margin: 0 2em;
}
#logo{
    height: 5em;
    width: 8em;
}

.nav-link{
    color: #FFF !important;
    font-size: 115%;
    font-weight: bold;
}