.navbar{
    background-color: #003C66;
}

.navbar-brand{
    font-size: 195%;
}
.navbar-nav{
    margin: 0 2em;
}
#logo{
    height: 5em;
    width: 8em;
}

.nav-link{
    color: #FFF !important;
    font-size: 120%;
    margin-right: 1em;

}
.form-inline{
    float: right;
}
#logout-button{
    float: right;
}