.navbar{
    background-color: #003C66;
}

.navbar-brand{
    font-size: 195%;
}

/*.navbar-logo{*/
    /*margin-right: 1.5em;*/
    /*height: 71px;*/
    /*width: 127px;*/
    /*background: url(../images/logo.png) center no-repeat;*/
    /*background-size: 92%;*/
/*}*/
.nav-link{
    font-size: 115%;
    font-weight: bold;
}